################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/AxieFinder.zip
/.vs/AxieFinder/config/applicationhost.config
/.vs/AxieFinder/v16/.suo
/.vs/ProjectSettings.json
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
